

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
   font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shered style */
.dark-2 {
    color: #474747;
}
.center-align {
    text-align: center;
}
.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}
.section-description {
    font-size: 18px;
    color: #757575;
}

/* header style */
.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    height: 837px;
    background-position: top left, bottom right;
    background-color: #FFF8F3;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 10px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
    margin-left: 33px;
}
.color-primery{
    color: #FD6E0A;
}
.nav-list {
    display: flex;
    align-items: center
   
   

}
nav ul li {
    list-style: none;
    margin-left: 51px;
 
}
nav ul li a {
    text-decoration: none;
}
.btn-primary {
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: bold;
    /* height: 64px;
    width: 150px; */
    padding: 18px 35px;
    border-radius: 5px;
    border: none;

}

/* Banner style */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    margin: 0px 38px 0px 230px;
}
.banner-content {
    max-width: 585px;
    height: 356px;
    
    /* line-height: 100%;
    */
   
}
.banner-greetings {
    font-weight: 600;
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 0px;
   
}
.banner-title {
    font-size: 85px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
   
}
.banner-description {
    font-size: 18px;
    color: #757575;
   
}
.btn-contact {
    color: #FD6E0A;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    /* height: 64px;
    width: 150px; */
    padding: 18px 35px;
    border-radius: 5px;
    border: 2px solid #FD6E0A;

}
.banner-profile-pic {
    width: 584px;
    /* height: 767px; */
    margin: ;
    
}

/* main-style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section {
    margin-top: 130px;
}
/* About-section-style */
.about{
    background-color: #FFF8F3;
    padding: 130px 150px;
    text-align: center;
  
}
.about-content{
    background-color: white;
    border-radius: 10px;
}
.about-items {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
}
.item-title {
    color: #757575;
}
.item-description {
       font-weight: bold;
}


/* skill section style */

.skills {
    
    padding-top: 130px ;
}
.skill-descriptions {
    padding: 30px 150px;

}
.skills-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.skill {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* resume section styles */

.resume-container {
    display: flex;
    gap: 24px;
}
.experience {
   line-height: 20px;
}
.resume hr {
    margin: 30px 0px;
}
.resume-column-title {
    font-size: 30px;
    font-weight: bold;
    color: #474747;

}
.experience-title {
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;

}
.experience-sub-title {
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
  
}
.experience-description {
    font-size: 16px;
    color: #757575;
}
.btn-alinment {
    text-align: center;
    margin-top: 50px;
}

/* footer styles */

footer {
    background-color: #FFF8F3;
    padding: 106px 230px;
    justify-content: space-between;

}
.footer-column-container{
    display: flex;
    gap: 150px;
} 
.footer-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;

}
.footer-description {
    font-size: 16px;
    color: #474747;
   
}
.footer-column {
    width: 50%;
}
footer a {
    margin-right: 24px;
}
footer input {
    height: 30px;
    width: 400px;
    border-radius: 5px;
    border: none;
    margin-bottom: 24px;
    padding: 18px 30px;
    background-color: white;

}
footer textarea {
    width: 400px;
    border: none;
    border-radius: 5px;
    padding: 18px 30px;
    background-color: white;
}